<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="./css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <% for(var i=0; i<(products.length);i++) {%>
            <div class="card">
                <div class="name"><%= products[i].brand %> <%= products[i].model %></div>
                <div class="pic"><img class "imgCard" src="<%= products[i].picture %>"
                        alt="${products[i].brand} ${products[i].model}" height="180"></div>
                <div class="price">Price: <%= products[i].price %></div>
                <div class="link"><a href="./product/<%= products[i].id %>">Details...</a></div>
            </div>
                <%} %>
    </div>


</body>

</html>